# About The Dataset

The Dataset Contains Information About Users On A Social Media Site And Using That Information As Features To Our Machine Learning Model,We Will Try To Predict Whether The Particular User After,clicking On Ad On The Social Networking Site,Goes On To Buy A Particular Product Or Not.

import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv('social_network_ads.csv')

In [4]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
df.shape

(400, 5)

In [15]:
x=df.iloc[:,[2,3]].values

In [16]:
y=df.iloc[:,4].values

In [57]:
from sklearn.model_selection import train_test_split

In [84]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=3)

In [85]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [86]:
x_train=sc.fit_transform(x_train)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\HP\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [87]:
x_test=sc.transform(x_test)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [88]:
#BuildingModel
from sklearn.neighbors import KNeighborsClassifier

In [89]:
Classifier=KNeighborsClassifier(n_neighbors=5,metric='minkowski')

In [90]:
Classifier.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [91]:
y_pred=Classifier.predict(x_test)

In [92]:
y_pred

array([0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [93]:
#Accuracy:
from sklearn.metrics import confusion_matrix

In [94]:
cm=confusion_matrix(y_test,y_pred)

In [95]:
cm

array([[50,  5],
       [ 3, 22]], dtype=int64)

In [96]:
from sklearn.metrics import classification_report

In [97]:
classification_report(y_test,y_pred)

'              precision    recall  f1-score   support\n\n           0       0.94      0.91      0.93        55\n           1       0.81      0.88      0.85        25\n\n   micro avg       0.90      0.90      0.90        80\n   macro avg       0.88      0.89      0.89        80\nweighted avg       0.90      0.90      0.90        80\n'

In [98]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)*100

90.0

In [103]:
def pred_output():
    age=int(input("Enter Your Age:"))
    salary=int(input("Enter Your Salary:"))
    x_new=np.array([[age],[salary]]).reshape(1,2)
    x_new=sc.transform(x_new)
    if Classifier.predict(x_new)[0]==0:
        return "Will Not Purchase"
    else:
        return "Will Purchase"

In [104]:
pred_output()

Enter Your Age:25
Enter Your Salary:60000

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int32 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

'Will Not Purchase'